header
    .navbar-header
        img.menu(src="../icons/icon_menu.svg", alt="", srcset="")
        .navbar-left
            img.logo-header(src="../../logos/logo_yard_sale.svg", alt="", srcset="")
            ul
                li
                    a(href="/") Clothes
                li
                    a(href="/") Electronics
                li
                    a(href="/") Furnitures
                li
                    a(href="/") Toys
                li
                    a(href="/") Others
        div.navbar-right
            ul
                li.navbar-email platzi@example.com
            ul
                li.navbar-shopping-cart 
                    img(src="./icons/icon_shopping_cart.svg", alt="", srcset="")
                    div 2 


    //- +desktop-menu()
    //- +movile-menu()