.email-container{
    display: grid;
    grid-template-rows: auto 1fr auto;
    width: 300px;
    justify-items: center;
}
.email-image{
    width: 132px;
    height: 132px;
    border-radius: 50%;
    background-color: $Text-input-field;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 24px;
    img{
        width: 80px;
    }
    
}
.resend{
    font-size: $sm;
    span{
        color: $Very-light-pink;
    }
    a{
        color: $Hospital-green;
    }
}
.logo{
    width: 150px;
    margin-bottom: 48px;
    justify-self: center;
    opacity: 0;
}

.primary-button{
    background: $Hospital-green;
    border-radius: 8px;
    border: none;
    color: $White;
    width: 100%;
    cursor: pointer;
    font-size: $md;
    font-weight: bold;
    height: 50px;
}
.secondary-button{
    background: $White;
    border-radius: 8px;
    border: 1px solid $Hospital-green;
    color: $Hospital-green;
    width: 100%;
    cursor: pointer;
    font-size: $md;
    font-weight: bold;
    height: 50px;
}

//Styles desktop-menu
.desktop-menu{
    width: 100px;
    height: auto;
    border: 1px solid $Very-light-pink;
    border-radius: 6px;
    padding: 20px 20px 0 20px;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        li{
            text-align: end;
            a{
                color: $Black;
                text-decoration: none;
                margin-bottom: 20px;
                display: inline-block;
            }
        }
        li:last-child{
            padding-top: 20px;
            border-top:  1px solid $Very-light-pink;
            a{
                color: $Hospital-green;
                font-size: $sm;
            }
        }
        li:nth-child(1),
        li:nth-child(2){
            font-weight: bold;
        }
        
    }

}


//Styles movile-menu
.movile-menu{
    padding: 24px;
    
    a{
        text-decoration: none;
        color: $Black;
        font-weight: bold;
        font-size: $md;
    }
    ul{
        padding: 0;
        margin: 24px 0;
        list-style: none;
        li{
            margin-bottom: 24px;
        }
    }
    ul:nth-child(1){
        border-bottom: 1px solid $Very-light-pink;
    }
    ul:last-child{
        padding-top: 24px;
    }
    .email{
        font-size: $sm;
        font-weight: 300;
    }
    .sing-out{
        color: $Hospital-green;
        font-size: $sm;
    }
}

//Styles NAVBAR
.navbar-header{
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    height: 60px;
    border-bottom: 1px solid $Very-light-pink;
}
.menu{
    display: none;
    height: 20px;
    margin: 20px 0;
}
.navbar-left{  
    .logo-header{
        width: 100px;
    }
    ul{
        margin-left: 12px;
    }
}
.navbar-right{
    .navbar-email{
        color: $Very-light-pink;
        font-size: $sm;
        margin-right: 12px;
    }
    .navbar-shopping-cart{
        position: relative;
        div{
            position: absolute;
            top: -6px;
            right: -3px;
            width: 16px;
            height: 16px;
            background-color: $Hospital-green;
            border-radius: 50%;
            font-size: $sm;
            font-weight: bold;
            display: flex;
            justify-content: center;
            align-items: center;
        }
    }
}
.navbar-left, .navbar-right{
    display: flex;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        align-items: center;
        li a{
            text-decoration: none;
            font-size: $sm;
            color: $Very-light-pink;
            border: 1px solid $White;
            padding: 8px;
            border-radius: 8px;
        }
        li a:hover{
            border: $Hospital-green;
            color: $Hospital-green;
        }
    }
}
