extend components/plantilla.pug
block content
    main.my-orders 
        .my-orders-container 
            h1.title My Order
            +orders("04.25.21","6 articles","$560.00")
            +orders("04.25.21","6 articles","$560.00")
            +orders("04.25.21","6 articles","$560.00")
            