extend components/plantilla.pug
block content
    aside.product-detail 
        div.product-detail-close
            img(src="./icons/icon_close.png", alt="", srcset="")
        img(src="https://images.pexels.com/photos/5519848/pexels-photo-5519848.jpeg?cs=srgb&dl=pexels-mike-5519848.jpg&fm=jpg", alt="", srcset="")
        .product-info 
            p $35.00
            p $AMG GTR
            p Powerful appearance and timeless elegance: With a muscular rear end, wide track and large wheels, the Mercedes-AMG GT Coupé is in the starting blocks. But this dynamic racing symbiosis of sophisticated driving dynamics and pure-bred motorsport is not solely a visual eye-catcher.
            button.primary-button 
                img(src="./icons/bt_add_to_cart.svg", alt="", srcset="")
                Add to cart